:root {
  --white-background-color: #ffffff;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
}

/*----------скидання стилів-------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* ----added after 3.1-check ------*/
img {
  display: block;
}
/*-------------------------------- */

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------HEADER-------- */

.header {
  /* ----added after 3.1-check-----*/
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  align-items: center;
  display: flex;
}

.header-navigation {
  align-items: center;
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-brand-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-logo-span {
  color: var(--dark-color);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-item {
}

.header-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
  letter-spacing: 0.02em;

  display: block;
  padding: 24px 0;
}

.header-menu-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

.header-address-link:hover {
  color: var(--pressed-state-color);
}

.header-address-link:focus {
  color: var(--pressed-state-color);
}

/*----------HERO--------- */
.hero {
  background-color: var(--dark-color);
  padding: 188px 0;
}

.hero-container {
  max-height: 600px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-background-color);

  letter-spacing: 0.02em;
  text-align: center;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  letter-spacing: 0.04em;

  min-width: 169px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;

  /* ----added after 3.1-check ----*/
  height: 56px;
  border: none;
  cursor: pointer;
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

/*----------ADVANTAGES-------- */

.advantages {
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  /* padding-left: 0; */
  width: calc((100% - 72px) / 4);
}

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

/*----------SERVICES-------- */

.services {
  padding-bottom: 120px;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-color);

  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.services-list {
  display: flex;
  gap: 24px;
}

.services-item {
  width: calc((100% - 48px) / 3);
}

/*----------TEAM-------- */

.team {
  background-color: var(--light-color);
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark-color);

  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-background-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  text-align: center;
  padding: 32px 16px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

/*----------FOOTER-------- */

.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--primary-brand-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* ----added after 3.1-check ----*/
  display: inline-block;
  margin-bottom: 16px;
  /* ------------------- */
}

.footer-logo link {
}

.footer-logo-span {
  color: var(--light-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  letter-spacing: 0.02em;

  max-width: 264px;
  margin-top: 16px;
}

/*TODO----------PORTFOLIO-------- */

.portfolio-section {
  padding: 96px 0 120px 0;
}

.projects-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.projects-btn-item {
}

.projects-btn-text {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  text-align: center;
  letter-spacing: 0.04em;

  /*? ----- навіщо це взагалі ??? ------ */
  display: block;
  margin: 0 auto;
  /*?------------ */

  /*?-------чому ЦЕ ВСЕ задається НЕ .btn-item, а .btn-text ??? */
  /* !---Тому що ми стилізуємо кнопки, а не елементи списку ! --- */
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  margin-top: 72px;
  /*? ------------ */
}

.projects-btn-text:is(:hover, :focus) {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  cursor: pointer;
  /* ----added after 3.1-check ----*/
  border: 1px solid transparent;
  /* ------------------------ */
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.projects-item {
  width: calc((100% - 48px) / 3);
}

.projects-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.projects-item-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);

  letter-spacing: 0.02em;
}

.border-text {
  border: 1px solid var(--accent-color);
  padding: 32px 16px;
  /* ----- border всюди, крім верху ! ---- */
  border-top: none;
}
